<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.CalendarMapper">

	<select id="showCalendar" resultType="map">
		SELECT * FROM calendar_list2 WHERE fk_User=#{MailTo}
	</select>

	<update id="delete" parameterType="int">
		DELETE FROM calendar_list2 WHERE pk_Calendar=#{id}
	</update>

	<insert id="addCalendar" parameterType="map">
		INSERT INTO `oawork`.`calendar_list2`
	(`pk_Calendar`,
	`fk_User`,
	`fk_Department`,
	`TypeID`,
	`StatusID`,
	`Title`,
	`Description`,
	`ImagePath`,
	`UserList`,
	`DepartmentList`,
	`StartDate`,
	`EndDate`,
	`IsRemind`,
	`CreateDate`
	)
	VALUES
	(null,
	#{fk_User},
	null ,
	'日程通知',
	#{StatusID},
	#{Title},
	#{Description},
	null ,
	null ,
	null ,
	#{StartDate},
	#{EndDate},
	#{IsRemind},
	now()
	);
	</insert>

	<update id="updateCalendar" parameterType="map">
	UPDATE `oawork`.`calendar_list2`
	SET
	`StatusID` = #{StatusID} ,
	`Title` = #{Title} ,
	`Description` = #{Description} ,
	`StartDate` = #{StartDate} ,
	`EndDate` = #{EndDate} ,
	WHERE
	`pk_Calendar` = #{pk_Calendar} ;
	</update>

	<select id="getOne" resultType="map">
		SELECT * FROM calendar_list2 WHERE pk_Calendar=#{pk_Calendar}
	</select>



</mapper>
