<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.java.dao.MailMapper">

    <select id="ShowMailByMailTo" resultType="map">
      SELECT * FROM mail_list WHERE MailTo=#{MailTo} and MailType=1
    </select>
    
    <select id="ShowAddress" resultType="map">
        SELECT * FROM address_list WHERE user_name=#{name}
    </select>

	<select id="ShowDelete" resultType="map">
		 SELECT * FROM mail_list WHERE MailTo=#{MailTo} and MailType=3
	</select>

    <insert id="AddMail" parameterType="map">
INSERT INTO `oawork`.`mail_list`
	(`pk_Mail`,
	`fk_Account`,
	`fk_User`,
	`fk_Department`,
	`TypeID`,
	`StatusID`,
	`MailType`,
	`MailFrom`,
	`MailTo`,
	`Subject`,
	`Body`,
	`IsSent`,
	`SentDate`,
	`IsAttachment`,
	`AttachmentList`,
	`IsRead`,
	`ReadDate`,
	`Priority`,
	`IsReply`,
	`ReplyDate`
	)
	VALUES
	(null,
	#{fk_Account},
	#{fk_User},
	null,
	#{TypeID},
	#{StatusID},
	#{MailType},
	null,
	#{MailTo},
	#{Subject},
	#{Body},
	null,
	now(),
	null,
	null,
	null,
	null,
	null,
	null,
	null
	)
    </insert>

	<update id="yidu" parameterType="int">
		UPDATE mail_list SET StatusID='已读' WHERE pk_Mail=#{meilId}
	</update>

	<update id="delete" parameterType="int" >
		UPDATE mail_list SET MailType='3' WHERE pk_Mail=#{meilId}
	</update>

	<update id="cdDelete" parameterType="int">
		DELETE FROM mail_list WHERE pk_Mail=#{meilId}
	</update>

	<update id="hfu" parameterType="int">
		UPDATE mail_list SET MailType='1' WHERE pk_Mail=#{meilId}
	</update>

</mapper>
