<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.MenusMapper">
    <select id="menusMain" resultType="map">
        SELECT * FROM sys_menu WHERE Name_EN='main';
    </select>
    <select id="menusChild" resultType="map">
        SELECT * FROM sys_menu WHERE Name_EN='child';
    </select>
    <select id="selectMenus" resultType="map">
        SELECT * FROM sys_menu WHERE pk_Menu IN
        <foreach collection="idList" item="item" index="" open="(" separator="," close=")">
            #{item}
        </foreach>
        OR pk_Menu IN
        (SELECT pk_Menu FROM sys_menu WHERE LevelID IN (SELECT ParentID FROM sys_menu WHERE pk_Menu IN
        <foreach collection="idList" item="item" index="" open="(" separator="," close=")">
            #{item}
        </foreach>
        ));
    </select>
</mapper>