<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.java.dao.User_listMapper">
    <select id="login" resultType="map">
       SELECT user_list.*,
            (SELECT DepartmentName FROM user_department WHERE pk_Department=user_list.fk_Department) DepartmentName ,
            (SELECT RoleName_CHS FROM role_name WHERE pk_Name=user_list.RoleValue) roleName
	   FROM user_list WHERE userName=#{username};
    </select>
</mapper>